table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
label{
    float: left;
    clear: left;
    width: 100px;
    text-align: left; 
}
input {
  float: left;
}